#scroll-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: 3px solid darkblue;
    border-radius: 18px;
    background-color: darkblue;
    font-size: 15pt
}
.scroll-button-cell {
    padding: 1px 7px 4px;
    color: white
}
.scroll-button-cell:not(#top-scroll-cell) {
    border-top: 2px solid white
}